@page "/consulta-productos"

<div class="form-row mb-3">
    <div class="col-sm-4">
        <h3>Consulta Productos</h3>
    </div>
    <div class="col-sm-3">
        <select @bind="indexSelect" class="custom-select">
            <option value="0">Filtrar por</option>
            <option value="1">ProductoId</option>
            <option value="2">Descripcion</option>
        </select>
    </div>
    <div class="col-sm-3">
        <input class="w-100" type="@(indexSelect == 1 ? "number" : "text")" @bind="criterioDeBusqueda"/>
    </div>
    <div class="col-sm-2">
        <button class="btn btn-outline-primary" @onclick="FiltrarProductos">Buscar</button>
    </div>
</div>

@if (Productos == null || ProductosFiltrados == null) {
    <div>
        <h4>Cargando...</h4>
    </div>
} else {
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th>Producto Id</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Existencia</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var producto in ProductosFiltrados) {
                <tr>
                    <td>@producto.Id</td>
                    <td>@producto.Descripcion</td>
                    <td>@string.Format("{0:c}" , producto.Precio)</td>
                    <td>@producto.Existencia</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    int indexSelect = 0; //indice del select
    string criterioDeBusqueda;

    public List<Producto> Productos { get; set; }
    public List<Producto> ProductosFiltrados { get; set; }

    protected async override Task OnInitializedAsync() {
        Productos = await ProductosBLL.GetProductos();
        ProductosFiltrados = Productos;
    }

    void FiltrarProductos() {

        if (indexSelect == 0) {//Todos

            ProductosFiltrados = Productos.Where(p => true).ToList();

        } else if (indexSelect == 1) {//Id

            if (int.TryParse(criterioDeBusqueda , out int Id)) {

                ProductosFiltrados = Productos.Where(p => p.Id == Id).ToList();
            }

        }else if (indexSelect == 2) {//Descripcion

            ProductosFiltrados = Productos.Where(p => p.Descripcion.ToLower().Contains(criterioDeBusqueda.ToLower())).ToList();

        }
    }

}
